<tg-project-menu>
  <div ng-if="vm.project" class="sticky-project-menu">
    <tg-legacy-loader ng-class="{'menu-fixed': vm.fixed}" tg-load-element="vm.projectMenu" ng-version="10.0.14">
    </tg-legacy-loader>
  </div>
</tg-project-menu>
